$animation-fade-in: fade-in $duration-faster $easing-3;
$animation-fade-in-bloom: fade-in-bloom $duration-slow $easing-3;
$animation-fade-out: fade-out $duration-faster $easing-3;
$animation-fade-out-bloom: fade-out-bloom $duration-slow $easing-3;
$animation-scale-up: scale-up $duration-faster $easing-3;
$animation-scale-down: scale-down $duration-faster $easing-3;
$animation-slide-out-up: slide-out-up $duration-faster $easing-3;
$animation-slide-out-down: slide-out-down $duration-faster $easing-3;
$animation-slide-out-right: slide-out-right $duration-faster $easing-3;
$animation-slide-out-left: slide-out-left $duration-faster $easing-3;
$animation-slide-in-up: slide-in-up $duration-faster $easing-3;
$animation-slide-in-down: slide-in-down $duration-faster $easing-3;
$animation-slide-in-right: slide-in-right $duration-faster $easing-3;
$animation-slide-in-left: slide-in-left $duration-faster $easing-3;
$animation-shake-x: shake-x $duration-fast $easing-out-5;
$animation-shake-y: shake-y $duration-fast $easing-out-5;
$animation-spin: spin $duration-slow linear infinite;
$animation-ping: ping $duration-crawling $easing-out-3 infinite;
$animation-blink: blink $duration-regular $easing-out-3 infinite;
$animation-float: float $duration-slower $easing-in-out-3 infinite;
$animation-bounce: bounce $duration-slow $easing-squish-2 infinite;
$animation-pulse: pulse $duration-slow $easing-out-3 infinite;

@keyframes fade-in {
    to { opacity: 1 }
}

@keyframes fade-in-bloom {
    0% { opacity: 0; filter: brightness(1) blur(20px) }
    10% { opacity: 1; filter: brightness(2) blur(10px) }
    100% { opacity: 1; filter: brightness(1) blur(0) }
}

@keyframes fade-out {
    to { opacity: 0 }
}

@keyframes fade-out-bloom {
    100% { opacity: 0; filter: brightness(1) blur(20px) }
    10% { opacity: 1; filter: brightness(2) blur(10px) }
    0% { opacity: 1; filter: brightness(1) blur(0) }
}

@keyframes scale-up {
    to { transform: scale(1.25) }
}

@keyframes scale-down {
    to { transform: scale(.75) }
}

@keyframes slide-out-up {
    to { transform: translateY(-100%) }
}

@keyframes slide-out-down {
    to { transform: translateY(100%) }
}

@keyframes slide-out-right {
    to { transform: translateX(100%) }
}

@keyframes slide-out-left {
    to { transform: translateX(-100%) }
}

@keyframes slide-in-up {
    from { transform: translateY(100%) }
}

@keyframes slide-in-down {
    from { transform: translateY(-100%) }
}

@keyframes slide-in-right {
    from { transform: translateX(-100%) }
}

@keyframes slide-in-left {
    from { transform: translateX(100%) }
}

@keyframes shake-x {
    0%, 100% { transform: translateX(0%) }
    20% { transform: translateX(-5%) }
    40% { transform: translateX(5%) }
    60% { transform: translateX(-5%) }
    80% { transform: translateX(5%) }
}

@keyframes shake-y {
    0%, 100% { transform: translateY(0%) }
    20% { transform: translateY(-5%) }
    40% { transform: translateY(5%) }
    60% { transform: translateY(-5%) }
    80% { transform: translateY(5%) }
}

@keyframes spin {
    to { transform: rotate(1turn) }
}

@keyframes ping {
    90%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1
    }
    50% {
        opacity: .5
    }
}

@keyframes float {
    50% { transform: translateY(-25%) }
}

@keyframes bounce {
    25% { transform: translateY(-20%) }
    40% { transform: translateY(-3%) }
    0%, 60%, 100% { transform: translateY(0) }
}

@keyframes pulse {
    50% { transform: scale(.9,.9) }
}

@media (prefers-color-scheme: dark) {
    @keyframes fade-in-bloom {
        0% { opacity: 0; filter: brightness(1) blur(rem(20px)) }
        10% { opacity: 1; filter: brightness(0.5) blur(rem(10px)) }
        100% { opacity: 1; filter: brightness(1) blur(0) }
    };
}

@media (prefers-color-scheme: dark) {
    @keyframes fade-out-bloom {
        100% { opacity: 0; filter: brightness(1) blur(rem(20px)) }
        10% { opacity: 1; filter: brightness(0.5) blur(rem(10px)) }
        0% { opacity: 1; filter: brightness(1) blur(0) }
    };
}