$easing-1: cubic-bezier(.25, 0, .5, 1);
$easing-2: cubic-bezier(.25, 0, .4, 1);
$easing-3: cubic-bezier(.25, 0, .3, 1);
$easing-4: cubic-bezier(.25, 0, .2, 1);
$easing-5: cubic-bezier(.25, 0, .1, 1);
$easing-in-1: cubic-bezier(.25, 0, 1, 1);
$easing-in-2: cubic-bezier(.50, 0, 1, 1);
$easing-in-3: cubic-bezier(.70, 0, 1, 1);
$easing-in-4: cubic-bezier(.90, 0, 1, 1);
$easing-in-5: cubic-bezier(1, 0, 1, 1);
$easing-out-1: cubic-bezier(0, 0, .75, 1);
$easing-out-2: cubic-bezier(0, 0, .50, 1);
$easing-out-3: cubic-bezier(0, 0, .3, 1);
$easing-out-4: cubic-bezier(0, 0, .1, 1);
$easing-out-5: cubic-bezier(0, 0, 0, 1);
$easing-in-out-1: cubic-bezier(.1, 0, .9, 1);
$easing-in-out-2: cubic-bezier(.3, 0, .7, 1);
$easing-in-out-3: cubic-bezier(.5, 0, .5, 1);
$easing-in-out-4: cubic-bezier(.7, 0, .3, 1);
$easing-in-out-5: cubic-bezier(.9, 0, .1, 1);
$easing-elastic-1: cubic-bezier(.5, .75, .75, 1.25);
$easing-elastic-2: cubic-bezier(.5, 1, .75, 1.25);
$easing-elastic-3: cubic-bezier(.5, 1.25, .75, 1.25);
$easing-elastic-4: cubic-bezier(.5, 1.5, .75, 1.25);
$easing-elastic-5: cubic-bezier(.5, 1.75, .75, 1.25);
$easing-squish-1: cubic-bezier(.5, -.1, .1, 1.5);
$easing-squish-2: cubic-bezier(.5, -.3, .1, 1.5);
$easing-squish-3: cubic-bezier(.5, -.5, .1, 1.5);
$easing-squish-4: cubic-bezier(.5, -.7, .1, 1.5);
$easing-squish-5: cubic-bezier(.5, -.9, .1, 1.5);
$easing-step-1: steps(2);
$easing-step-2: steps(3);
$easing-step-3: steps(4);
$easing-step-4: steps(7);
$easing-step-5: steps(10);
