$size-px: 1px;
$size-1: rem(4px);
$size-2: rem(8px);
$size-3: rem(12px);
$size-4: rem(16px);
$size-5: rem(20px);
$size-6: rem(24px);
$size-7: rem(28px);
$size-8: rem(32px);
$size-9: rem(36px);
$size-10: rem(40px);
$size-11: rem(44px);
$size-12: rem(48px);
$size-14: rem(56px);
$size-16: rem(64px);
$size-20: rem(80px);
$size-24: rem(96px);
$size-28: rem(112px);
$size-32: rem(128px);
$size-36: rem(144px);
$size-40: rem(160px);
$size-44: rem(176px);
$size-48: rem(192px);
$size-52: rem(208px);
$size-56: rem(224px);
$size-60: rem(240px);
$size-64: rem(256px);
$size-72: rem(288px);
$size-80: rem(320px);
$size-96: rem(384px);
$size-full: 100%;
$size-screen: 100vw;
$size-min: min-content;
$size-max: max-content;

$width-xs: rem(480px);
$width-sm: rem(640px);
$width-md: rem(768px);
$width-lg: rem(1024px);
$width-xl: rem(1280px);

$width-content-1: 20ch;
$width-content-2: 25ch;
$width-content-3: 35ch;
$width-content-4: 45ch;
$width-content-5: 60ch;

$size-fluid-1: clamp(.5rem, 1vw, 1rem);
$size-fluid-2: clamp(1rem, 2vw, 1.5rem);
$size-fluid-3: clamp(1.5rem, 3vw, 2rem);
$size-fluid-4: clamp(2rem, 4vw, 3rem);
$size-fluid-5: clamp(4rem, 5vw, 5rem);
$size-fluid-6: clamp(5rem, 7vw, 7.5rem);
$size-fluid-7: clamp(7.5rem, 10vw, 10rem);
$size-fluid-8: clamp(10rem, 20vw, 15rem);
$size-fluid-9: clamp(15rem, 30vw, 20rem);
$size-fluid-10: clamp(20rem, 40vw, 30rem);
